/* Mobile menu */
nav.primary-nav {
  padding: 0 15px;
}

.primary-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.primary-nav ul li {
  justify-content: center;
  width: 100%;
  text-align: center;
  display: none;
}

.primary-nav ul li a {
  text-decoration: none;
  display: block;
  padding: 15px 5px;
}

.primary-nav ul.open li {
  display: flex;
  order: 2;
}

.primary-nav ul li.mobile-navigation-item {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  order: 1;
}

.primary-nav ul li.mobile-navigation-item span.title {
  margin: 0 15px 0 0;
}

/* Tablet menu */
@media all and (min-width: 700px) {
  .primary-nav ul {
    justify-content: center;
  }

  .mobile-navigation-item {
    flex: 1;
    text-align: right;
    order: 2;
  }
}

/* Desktop menu */
@media all and (min-width: 960px) {
  .primary-nav ul {
    justify-content: flex-end;
    flex-wrap: nowrap;
    background: none;
  }

  .primary-nav ul li {
    width: auto;
    display: flex;
  }

  .primary-nav ul li.mobile-navigation-item {
    display: none;
  }

  .primary-nav ul li a {
    padding: 15px;
  }
}
