.gallery {
  grid-auto-rows: 1fr;
}

.galleryImg {
  min-height: 100%;
  transition: transform 0.3s;
  z-index: 100;
}

@media screen and (min-width: 64em) {
  .galleryImg:hover {
    transform: scale(2.25);
    z-index: 101;
  }
}
